body {
  font: 11px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#tooltip {
  background-color:snow;
  border-radius: 5px;
  height: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
}